section.bg-color,
#mainmenu li li a:hover,
#mainmenu ul li:hover>a
{
    background:linear-gradient(to right,#2c69db,#3293e2, #3293e2,#3293e2, #2c69db);
}
section.bg-color2
{
    background:linear-gradient(to top,#2c69db,#3293e2, #2c69db);
}
#mainmenu li:hover>ul,
#mainmenu li:hover>a,
#mainmenu a:hover,
#mainmenu li a:after
{
    color: #6d47ff;
}


.preloader1 {
    border-top-color: #6d47ff;
}