@media only screen and (max-width:1800px) {
    .companyInfo #full-name{
        display: none;
    }
}

@media only screen and (max-width:1640px) {
    #svgFb{
        padding-left: 5%;
    }
}

@media only screen and (max-width:1100px) {
    .contactList{
      padding-left: 0%; 
    }
    #home{
        padding-top: 10vh;
    }
    /* contact */
    #contact, #writeMail{
      width:100%;
      padding-bottom: 7vw;
    }
    .contactHeader{
        text-align: center; 
    }
    .contactList li{
        text-align: center; 
    }
    #tel{
        font-size: 10vw;
    }
    /* end contact */
    #svgFb, #svgInst{
        padding-left: 20vw;
    }
}
@media only screen and (max-width:820px) {
    /* For mobile phones: */
    .contactIcons #svgPhone{
        padding-left: 5%;
    }
    .contactIcons #svgMail{
        padding-right: 5%;
    }
    #covidInfo{
        padding-left: 5%;
    }
    #svgFb{
        padding-left: 5vw;
    }
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    #svgFb, #svgInst{
        padding-bottom: 2vh;
        padding-left: 0%;
        text-align: center;
        width: 100%;
    }
}

@media only screen and (max-width:575px) {
    /* For mobile phones: */
    .col-md-3{
        padding-bottom: 15px;
    }
}

@media only screen and (max-width:550px) {
    /* For mobile phones: */
    .companyInfo #name{
        display: none;
    }
    .companyInfo #logo{
        width: 90%;
    }
}

@media only screen and (max-width:495px) {
    /* For mobile phones: */
    .contactIcons #svgPhone{
        text-align: center;
        width: 100%;
        padding-left: 0%;
    }
    .contactIcons #svgMail{
        padding-right: 0%;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width:495px) {
    #svgCovid{
        text-align: center;
        width: 100%;
    }
}