@media only screen and (max-width:1640px) {
    /* navbar */

    /* end navbar */
    #svgFb{
        padding-left: 5%;
    }
}

@media only screen and (max-width:1100px) {
    /* For mobile phones: */
    #container{
        text-align: center;
    }
    


    /* contact */
    #mainContact, #mailContact{
      width:100%;
      padding-bottom: 7vw;
    }
    /* end contact */

}


@media only screen and (max-width:620px) {
    /* For mobile phones: */
    #svgFb, #svgInst{
        padding-left: 0%;
    }
}

@media only screen and (max-width:495px) {
    /* For mobile phones: */
    #svgFb, #svgInst{
        padding-left: 0%;
    }
    
}
